<!DOCTYPE html>
<html>
  <head>
    <title>BrewApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Trocchi" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <div id="welcome_container">
    <% if current_user %>
      <p class="welcome">Welcome <%= current_user.first_name.titleize%> </p>
      <%= link_to "Logout", {:controller=> "sessions", :action=> "destroy"}, :method => :delete, :id => "logout" %>
    <%else%>
      <p class="welcome">Welcome Guest</p>
    <% end %>
    </div>

  </head>

  <body>
    <%= yield %>
<%# add current user and email %>


  </body>
</html>
